.App {
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.btn-genre {
  margin: 1rem;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.ted-talk-list-container {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
}

.card {
  display: block;
  overflow: hidden;
  margin: 0rem auto;
  width: 80%;
  border-radius: 0.625rem;
  text-align: left;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 100ms ease;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
}

.talk-info {
  padding: 1rem;
}

.card:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 512px) {
  .card {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 50%;
  }
}

@media screen and (min-width: 950px) {
  .ted-talk-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 80%;
  }
}

@media screen and (min-width: 1152px) {
  .ted-talk-list-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .card {
    width: 90%;
  }
}
